/* ///////////////////////////////////////////////////////////// */
/* BODY STYLING */
* {
    margin: 0;
    padding: 0;
    background-color:#0B1416;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ///////////////////////////////////////////////////////////// */
/* TOP NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1416;
    padding: 10px 20px;
}

/* Left section of navbar*/
.left-section {
    display: flex;
    align-items: center;
}

/* Right section of navbar */
.right-section {
    display: flex;
}

/* ///////////////////////////////////////////////////////////// */
/* Top nav items styling */

/* LEFT SECTION - LOGO AND TEXT */
.top-nav-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.reddit-text {
    color: white;
    font-size: 32px;
    margin-right: 10px; 
    cursor: pointer;
}

/* RIGHT SECTION - BUTTONS */
.div-buttons {
    padding: 10px 10px;
}

.top-nav-button {
    border-radius: 10px;
    border: none;
    background-color: white;
}

.top-nav-button-text {
    margin: 10px;
    gap: 10px;
    background-color: white;
}

.div-buttons :hover {
    color: gray;
    cursor: pointer;
}

/* MIDDLE SECTION - SEARCH BAR */
.search-bar {
    flex: 0.5;
    margin: 0 10px;
}

.search-bar input {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
}

/* Border between TOPNAV and POST SECTION */
.border-topnav-postcontainer {
    border: 1px solid rgb(53, 53, 53);
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* ///////////////////////////////////////////////////////////// */
/* Post section */

/* Button */
.popular-topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-button {
    background-color: white;
    width: 16rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.popular-button-icon {
    width: 2rem;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
}

.popular-button button {
    background: none;
    border: none;
}

.popular-button button:focus {
    outline: none;
}

/* Topics list */
.topics {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

.topics-item {
    color: white;
    text-align: left;
}

.topics-option {
    padding-left: 10px;
    display: flex;
    font-size: 16px;
    width: 10rem;
    height: 2rem;
    align-items: center;
    justify-content: left;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
}

.topics-item :hover {
    border: 1px solid #444444;
    border-radius: 10px;
    background-color: #444444;
}


/* Posts section */
.post-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 1rem;    
    margin: 1rem;
    margin-right: 16rem;
    padding: 0 10rem;
    height: 20rem;
    width: auto;
}

.post-divs {
    justify-content: end;
    text-align:center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
}

.post-divs-text {
    background-color: white;
}

.post-divs-img {
    flex: 1;
    height: 8rem;
    width: auto;
    background-color: white;
}

.post-divs :hover {
    cursor: pointer;
}